.display-work{
  height: 570px;
  .desktop-work{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
    position: relative;
    .desktop-work-img{
      align-self: flex-end;
      box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
    }
    .mobile-work{
      width: 100%;
      position: absolute;
      text-align: center;
      height: 100%;
      .mobile-work-img{
        position: absolute;
        width: 30%;
        bottom: 0px;
        max-width: 239px;
        right: 20%;
      }
    }
  }
}

@media (max-width: $tablet) {
  .display-work{
    height: inherit;
    padding: 20px 20px 0px 20px;
    .desktop-work{
      .mobile-work{
        .mobile-work-img{
          right: 5%;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .display-work{
    height: inherit;
    padding: 20px 20px 0px 20px;
    .desktop-work{
      .mobile-work{
        .mobile-work-img{
          right: 2%;
        }
      }
    }
  }
}
