<div class="home-sections">

  <section class="hero flex flex--space-vertical">
    <div class="hero-title">
      <h1>{{ myHeader.name }}</h1>
      <h2>{{ myHeader.role }}</h2>
    </div>
  </section>

  <section id="work">
    <div class="homeWorkRow" ng-repeat="work in myWork">
      <home-work data="work" class="flex"></home-work>
    </div>
  </section>

  <section class="about">
    <div class="flex">
      <div class="about-image flex flex--center">
        <img class="cory" src="images/cory.jpg">
      </div>
      <div class="about-info flex flex--center">
        <div class="about-info-wrapper">

          <h3>About Me</h3>
          <p>I am a Front-End Developer with a keen eye for design.  I have experience working in an agency environment with other designers, developers, and producers.</p>
          <p>I earned my B.F.A. degree in computer graphics from top design school, Pratt Institute. I enjoy working in the industry and have a passion for creating and discovering new and effective digital experiences.</p>
          <h4 class="download-resume"><a target="_self" href="/corypierson-resume.pdf" download="/corypierson-resume.pdf">Download Resume <i class="fa fa-arrow-circle-right"></i></a></h4>
        </div>
      </div>
    </div>
  </section>

</div>

