<div class="home-sections">

  <section class="hero flex flex--space-vertical">
    <div class="hero-title">
      <h1>{{ header.name }}</h1>
      <h2>{{ header.role }}</h2>
    </div>
  </section>

  <section class="work">
    <div class="flex">
      <div id="mbp" class="work-image"></div>
      <div class="work-info flex flex--center">
        <div class="info-wrapper">
          <h3>Mack Boring</h3>
          <h4><span>Agency:</span> Delia Associates</h4>
          <h4><span>Role:</span> Front-End Developer</h4>
          <h4 class="view-project"><a href="">View Project <i class="fa fa-arrow-circle-right"></i></a></h4>
        </div>
      </div>
    </div>
    <div class="flex">
      <div id="pfc" class="work-image"></div>
      <div class="work-info flex flex--center">
        <div class="info-wrapper">
          <h3>Pinnacle FCU</h3>
          <h4><span>Agency:</span> Delia Associates</h4>
          <h4><span>Role:</span> Front-End Developer</h4>
          <h4 class="view-project"><a href="">View Project <i class="fa fa-arrow-circle-right"></i></a></h4>
        </div>
      </div>
    </div>
    <div class="flex">
      <div id="mdp" class="work-image"></div>
      <div class="work-info flex flex--center">
        <div class="info-wrapper">
          <h3>Meyer Depew</h3>
          <h4><span>Agency:</span> Delia Associates</h4>
          <h4><span>Role:</span> Front-End Developer</h4>
          <h4 class="view-project"><a href="">View Project <i class="fa fa-arrow-circle-right"></i></a></h4>
        </div>
      </div>
    </div>

  </section>

  <section class="about">
    <div class="flex">
      <div class="about-image flex flex--center">
        <img class="cory" src="images/cory.jpg">
      </div>
      <div class="about-info flex flex--center">
        <div class="about-info-wrapper">
          <h3>About Me</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium saepe inventore alias quod vero quasi placeat perspiciatis pariatur ullam! </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium saepe inventore alias quod vero quasi placeat perspiciatis pariatur.</p>
          <h4 class="download-resume"><a href="">Download Resume <i class="fa fa-arrow-circle-right"></i></a></h4>
        </div>
      </div>
    </div>
  </section>

</div>
