<div class="single-work-info flex flex--center">
  <div class="info-wrapper">
    <h4 class="next-page">
      <a class="o-vertical-center" ng-href="/work/{{nextPageLink}}">
        Next Project:<img class="arrow-icon" src="images/icons/arrow.svg" alt="arrow">
      </a>
    </h4>
    <h1>{{thisWork.name}}</h1>
    <h4 class="view-site">
      <a class="o-vertical-center" ng-href="{{thisWork.link}}" target="_blank">
        View Site:<img class="arrow-icon" src="images/icons/arrow.svg" alt="arrow">
      </a>
    </h4>
    <h4><span>Agency:</span> {{thisWork.agency}}</h4>
    <h4><span>Role:</span> {{thisWork.role}}</h4>

    <h3>{{thisWork.about}}</h3>
    <p ng-bind-html="thisWork.responsibilities"></p>


  </div>
</div>
