<div class="single-work-sections">
  <section class="display-work">
      <div class="desktop-work">
        <div class="mobile-work">
          <div class="mobile-work-wrapper">
            <div class="mobile-work-img-wrapper">
              <img class="mobile-work-img" src="images/work/{{thisWork.id}}-mobile.png">
            </div>
          </div>
        </div>
        <img class="desktop-work-img no-select" src="images/work/{{thisWork.id}}-desktop.jpg">
      </div>
  </section>
  <section class="single-work-info">
    <div class="singleWorkRow">
      <single-work class="flex"></single-work>
    </div>
  </section>
</div>
