<div class="single-work-sections">
  <section class="display-work">
      <div class="desktop-work">
        <img class="desktop-work-img no-select" src="images/work/{{thisWork.id}}-desktop.jpg">
        <div class="mobile-work">
          <img class="mobile-work-img" src="images/work/{{thisWork.id}}-mobile.png">
        </div>
      </div>
  </section>
  <section class="single-work-info">
    <div class="singleWorkRow">
      <single-work class="flex"></single-work>
    </div>
  </section>
</div>
